<form [formGroup]="createServiceForm" (ngSubmit)="onSubmit()">
  <div class="container has-scroll has-scroll-admin modal-body">
    <div class="row row-gap-2">
      <div class="form-group col-md-12">
        <label for="name">Service Name <span class="text-danger">*</span></label>
        <input  id="name" name="name" class="form-control" placeholder="Service" formControlName="name" required>
        <div *ngIf="createServiceForm.get('name')?.invalid && createServiceForm.get('name')?.touched"
          class="text-danger small mt-1">
          This is a required field
        </div>
      </div>
      <div class="form-group">
        <label for="baseRate">Base Rate <span class="text-danger">*</span></label>
        <input id="baseRate" name="baseRate" type="number" class="form-control" placeholder="Base Rate" formControlName="baseRate" required>
        <div *ngIf="createServiceForm.get('baseRate')?.invalid && createServiceForm.get('baseRate')?.touched"
          class="text-danger small mt-1">
          This is a required field
        </div>
      </div>
      <div class="form-group">
        <label for="ratePerKg">Rate Per Kg <span class="text-danger">*</span></label>
        <input id="ratePerKg" name="ratePerKg" type="number" class="form-control" placeholder="Rate Per Kg" formControlName="ratePerKg" required>
        <div *ngIf="createServiceForm.get('ratePerKg')?.invalid && createServiceForm.get('ratePerKg')?.touched"
          class="text-danger small mt-1">
          This is a required field
        </div>
      </div>
      <div class="form-group">
        <label for="ratePerKm">Rate Per Km <span class="text-danger">*</span></label>
        <input id="ratePerKm" name="ratePerKm" type="number" class="form-control" placeholder="Rate Per Km" formControlName="ratePerKm" required>
        <div *ngIf="createServiceForm.get('ratePerKm')?.invalid && createServiceForm.get('ratePerKm')?.touched"
          class="text-danger small mt-1">
          This is a required field
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" [disabled]="isSubmitting" class="btn btn-primary btn-primary-admin btn-block">Create
      Service</button>
  </div>
</form>