<div class="">
  <div class="d-flex justify-content-between mb-4">
    <h3 class="">Services List</h3>
    <button class="btn btn-primary btn-primary-admin" (click)="openCreateServiceModal()">
      Create Service
    </button>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Base Rate</th>
          <th>Rate Per Kg</th>
          <th>Rate Per Km</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading; else serviceRows">
          <td colspan="5" class="text-center">
            <div class="spinner"></div>
          </td>
        </tr>
        <tr *ngIf="services.length === 0 && !isLoading">
          <td colspan="5" class="text-center">No data available</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #serviceRows>
  <tr *ngFor="let service of services">
    <td>{{ service.name }}</td>
    <td>{{ service.baseRate | currency }}</td>
    <td>{{ service.ratePerKg | currency }}</td>
    <td>{{ service.ratePerKm | currency }}</td>
    <td>
      <button class="btn btn-sm view-btn d-inline-flex justify-content-center align-items-center"
              (click)="openDetailServiceModal(service.id)">
        <i class="fa-regular fa-eye"></i>
      </button>
      <button class="btn btn-sm update-btn d-inline-flex justify-content-center align-items-center"
              (click)="openEditServiceModal(service.id)">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </td>
  </tr>
</ng-template>

<!-- Modal tạo dịch vụ -->
<ng-template #createServiceModal let-modal class="modal-content">
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title text-white">Create Service</h5>
    <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
  <app-service-create></app-service-create>
</ng-template>

<!-- Modal chỉnh sửa dịch vụ -->
<ng-template #editServiceModal let-modal>
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title text-white">Update Service</h5>
    <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
  <!-- Khi cập nhật thành công, gọi hàm closeDetailServiceModal() -->
  <app-service-edit [serviceId]="selectedServiceId" (updateSuccess)="closeDetailServiceModal()"></app-service-edit>
</ng-template>

<!-- Modal chi tiết dịch vụ -->
<ng-template #detailServiceModal let-modal>
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title text-white">Service Details</h5>
    <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
  <app-service-detail [serviceId]="selectedServiceId"></app-service-detail>
</ng-template>
