<div class="modal-body" *ngIf="service; else loading">
  <div class="package-details">
    <h4 class="card-header">{{ service.name }}</h4>
    <div class="card-body">
      <hr>
      <p><strong>Base Rate:</strong> {{ service.baseRate }}</p>
      <p><strong>Rate Per Kg:</strong> {{ service.ratePerKg }}</p>
      <p><strong>Rate Per Km:</strong> {{ service.ratePerKm }}</p>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner"></div>
</ng-template>

<div *ngIf="errorMessage" class="alert alert-danger mt-3">
  {{ errorMessage }}
</div>