<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <div *ngIf="!loading; else loadingTemplate">
    <div class="card bg-transparent border-0">
      <div class="card-header border-0 bg-transparent">
        <h3 class="fw-bold">User Profile</h3>
      </div>
      <div class="card-body border-0">
        <div class="row">
          <div class="col-md-4 text-center d-flex flex-column gap-1">
            <div>
              <img [src]="defaultData.image_url" class="img-fluid rounded-circle mb-1" alt="User Avatar" width="150">
            </div>
            <div>
              <span class="fw-semibold">{{ defaultData.name }}</span>
            </div>
            <div>
              <span>{{ defaultData.email }}</span>
            </div>
            <div>
              <span>{{ defaultData.phone }}</span>
            </div>
            <div>
              <span>Office: {{ defaultData.officeName }}</span>
            </div>
            <div>
              <span>Username: {{ defaultData.username }}</span>
            </div>
            <div>
              <span>Created Date: {{ defaultData.createdDate | date }}</span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="mb-3">
              <label class="form-label">Date of Birth</label>
              <div>{{ defaultData.dateOfBirth | date }}</div>
            </div>
            <div class="mb-3">
              <label class="form-label">Gender</label>
              <div>{{ defaultData.gender }}</div>
            </div>
          </div>
        </div>
        <div class="mt-3 text-end">
          <button class="btn btn-primary" [routerLink]="['/profile-update']">Update Profile</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
