<div class="modal-body" *ngIf="employee; else loading">
  <div class="package-details">
    <h4 card-header><strong>Name: </strong>{{ employee.name }}</h4>
    <div class="card-body">
      <p><strong>Email: </strong> {{ employee.email }}</p>
      <p><strong>Phone: </strong> {{ employee.phone }}</p>
      <p><strong>Gender: </strong> {{ employee.gender }}</p>
      <p><strong>Date of Birth: </strong> {{ employee.dateOfBirth | date }}</p>
      <p><strong>Office Name: </strong> {{ getOfficeName(employee.officeId) }}</p>
      <!-- <p><strong>Account ID: </strong> {{ employee.accountId }}</p> -->
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner"></div>
</ng-template>

