<div class="">
  <div class="d-flex justify-content-between mb-4">
    <h3 class="">Employees</h3>
    <button class="btn btn-primary btn-primary-admin" (click)="openCreatePackageModal()">
      Create Employee
    </button>
  </div>

  <div class="col-md-4">
    <label>Search:</label>
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search by name or email"
      class="form-control" />
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Office Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading; else employeeRows">
          <td colspan="7" class="text-center">
            <div class="spinner"></div>
          </td>
        </tr>
        <tr *ngIf="employees.length === 0 && !isLoading">
          <td colspan="7" class="text-center">No data available</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #employeeRows>
  <tr *ngFor="let employee of filteredEmployees">
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.phone }}</td>
    <td>{{ employee.gender }}</td>
    <td>{{ employee.dateOfBirth | date }}</td>
    <td>{{ getOfficeName(employee.officeId) }}</td>
    <td>
      <button class="btn btn-sm view-btn d-inline-flex justify-content-center align-items-center"
              (click)="openDetailPackageModal(employee.id)">
        <i class="fa-regular fa-eye"></i>
      </button>
      <button class="btn btn-sm update-btn d-inline-flex justify-content-center align-items-center"
              (click)="openEditPackageModal(employee.id)">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </td>
  </tr>
</ng-template>

<ng-template #createPackageModal let-modal class="modal-content">
  <div class="modal-header d-flex justify-content-between">
    <h5 class="modal-title text-white">Create Employee and Account</h5>
    <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
      <i class="fa-solid fa-xmark fa-lg"></i>
    </button>
  </div>
  <app-employee-create></app-employee-create>
</ng-template>

<ng-template #editPackageModal>
  <app-employee-edit [employeeId]="selectedEmployeeId"></app-employee-edit>
</ng-template>

<ng-template #detailPackageModal>
  <app-employee-detail [employeeId]="selectedEmployeeId"></app-employee-detail>
</ng-template>
