<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Office Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.dateOfBirth | date }}</td>
      <td>{{ employee.officeName }}</td>
      <td>
        <a [routerLink]="['/admin/employees/edit', employee.id]" class="btn btn-primary">Update</a>
        <a [routerLink]="['/admin/employees/detail', employee.id]" class="btn btn-info">Detail</a>
        
        
      </td>
    </tr>
  </tbody>
</table>
