<div *ngIf="packages.length > 0; else loading">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Delivery Number</th>
            <th>Receiver</th>
            <th>Weight</th>
            <th>Cost</th>
            <th>Payment Status</th>
            <th>Delivery Status</th>
            <th>Current Location</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pkg of packages">
            <td>{{ pkg.package.deliveryNumber }}</td>
            <td>{{ pkg.package.receiver }}</td>
            <td>{{ pkg.package.weight }} kg</td>
            <td>{{ pkg.payment.cost | currency }}</td>
            <td>{{ pkg.payment.status }}</td>
            <td>{{ pkg.delivery.deliveryStatus }}</td>
            <td>{{ pkg.delivery.currentLocation }}</td>
            <td>{{ pkg.package.createdAt | date: 'short' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading package data...</p>
  </ng-template>
  