<div class="">
  <div class="d-flex justify-content-between mb-4">
    <h3 class="">Packages</h3>
    <button class="btn btn-primary btn-primary-admin" (click)="openCreatePackageModal(createPackageModal)">Create
      Package
    </button>
  </div>

  <div class="row mb-3 row-gap-2" [formGroup]="packageFilterForm">
    <div class="col-md-3">
      <label for="office">Office</label>
      <select formControlName="officeId" class="form-control" id="office">
        <option value="" disabled>All Offices</option>
        <option *ngFor="let office of officeOptions" [value]="office.id">{{ office.name }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="startDate">Start Date</label>
      <input type="date" formControlName="startDate" class="form-control" id="startDate">
    </div>
    <div class="col-md-3">
      <label for="paymentStatus">Payment Status</label>
      <select formControlName="paymentStatus" class="form-control">
        <option value="" disabled>All Status</option>
        <option *ngFor="let status of statusOptions" [value]="status">{{ status }}</option>
      </select>
    </div>
    <div class="col-md-3 d-flex gap-2 align-items-end justify-content-end">
      <button class="btn btn-primary btn-primary-admin" (click)="onSearch()">Search</button>
      <button class="btn btn-secondary-admin text-white" (click)="onClear()">Clear</button>
    </div>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Delivery Code</th>
        <th>Cost</th>
        <th>Payment Status</th>
        <th>Delivery Status</th>
        <th>Office Name</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="isLoading; else packageRows">
        <td colspan="7" class="text-center">
          <div class="spinner"></div>
        </td>
      </tr>
      <tr *ngIf="packages.length === 0 && !isLoading">
        <td colspan="7" class="text-center">No data available</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Paging -->
  <div class="d-flex justify-content-center gap-3 align-items-center mt-3">
    <button class="btn btn-primary-admin text-white" (click)="previousPage()"
            [disabled]="currentPage === 1 || isLoading"><i
      class="fa-solid fa-chevron-left"></i></button>
    <h6 class="text-white mb-0">Page {{ currentPage }}</h6>
    <button class="btn btn-primary-admin text-white" (click)="nextPage()" [disabled]="isLastPage || isLoading"><i
      class="fa-solid fa-chevron-right"></i></button>
  </div>

  <!-- Popup detail -->
  <ng-template #content let-modal>
    <div class="modal-header d-flex justify-content-between">
      <h5 class="modal-title text-white">Package Details</h5>
      <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </button>
    </div>
    <div class="modal-body" *ngIf="selectedPackage">
      <div class="package-details">
        <p><strong>Delivery Code:</strong> {{ selectedPackage.id }}</p>
        <p><strong>Receiver:</strong> {{ selectedPackage.receiver }}</p>
        <p><strong>Office Name:</strong> {{ selectedPackage.officeName }}</p>
        <p><strong>Office Address:</strong> {{ selectedPackage.officeAddress }}</p>
        <p><strong>Delivery Status:</strong> {{ selectedPackage.deliveryStatus }}</p>
        <p><strong>Payment Status:</strong> {{ selectedPackage.paymentStatus }}</p>
        <p><strong>Transaction Time:</strong> {{ selectedPackage.transactionTime | date: 'short' }}</p>
        <p><strong>Delivery Date:</strong> {{ selectedPackage.deliveryDate | date: 'short' }}</p>
        <p><strong>End Office Name:</strong> {{ selectedPackage.endOfficeName }}</p>
      </div>
      <!-- Display COST -->
      <div class="package-cost">
        <strong>Total Cost:</strong> <span>{{ selectedPackage.paymentCost | currency }}</span>
      </div>
    </div>
  </ng-template>

  <!-- Form Create Package trong popup -->
  <ng-template #createPackageModal let-modal class="modal-content">
    <div class="modal-header d-flex justify-content-between">
      <h5 class="modal-title text-white">Create Package</h5>
      <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </button>
    </div>
    <form [formGroup]="createPackageForm" (ngSubmit)="onSubmit()">
      <div class="container has-scroll has-scroll-admin modal-body">
        <h4>Package</h4>
        <div class="row row-gap-2">
          <div class="form-group col-md-6">
            <label for="officeId">Office <span class="text-danger">*</span></label>
            <select class="form-control" id="officeId" formControlName="officeId" required>
              <option value="" disabled selected>Select Office</option>
              <option *ngFor="let office of officeOptionsForCreate" [value]="office.id">{{ office.officeName }}</option>
            </select>
            <div *ngIf="createPackageForm.get('officeId')?.invalid && createPackageForm.get('officeId')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="serviceId">Service <span class="text-danger">*</span></label>
            <select class="form-control" id="serviceId" formControlName="serviceId" required>
              <option value="" disabled selected>Select Service</option>
              <option *ngFor="let service of serviceOptions" [value]="service.id">{{ service.name }}</option>
            </select>
            <div *ngIf="createPackageForm.get('serviceId')?.invalid && createPackageForm.get('serviceId')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="receiver">Receiver Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="receiver" formControlName="receiver" placeholder="Receiver"
                   required>
            <div *ngIf="createPackageForm.get('receiver')?.invalid && createPackageForm.get('receiver')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="receiverAddress">Receiver Address <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="receiverAddress" formControlName="receiverAddress"
                   placeholder="Receiver Address" required>
            <div
              *ngIf="createPackageForm.get('receiverAddress')?.invalid && createPackageForm.get('receiverAddress')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="weight">Weight (kg)</label>
            <input type="number" min="0" class="form-control" id="weight" formControlName="weight" placeholder="Weight"
                   required>
          </div>
          <div *ngIf="createPackageForm.get('weight')?.invalid && createPackageForm.get('weight')?.touched"
               class="text-danger small mt-1">
            This is a required field
          </div>
          <div class="form-group col-md-6">
            <label for="distance">Distance (km)</label>
            <input type="number" min="0" class="form-control" id="distance" formControlName="distance" placeholder="distance"
                   required>
          </div>
          <div *ngIf="createPackageForm.get('distance')?.invalid && createPackageForm.get('distance')?.touched"
               class="text-danger small mt-1">
            This is a required field
          </div>
        </div>
        <hr>
        <h4>Payment</h4>
        <div class="row row-gap-2">
          <div class="form-group col-md-6">
            <label for="paymentStatus">Payment Status <span class="text-danger">*</span></label>
            <select class="form-control" id="paymentStatus" formControlName="paymentStatus" required>
              <option value="" disabled selected>Select Payment Status</option>
              <option value="paid">Paid</option>
              <option value="pending">Pending</option>
              <option value="fail">Fail</option>
            </select>
            <div
              *ngIf="createPackageForm.get('paymentStatus')?.invalid && createPackageForm.get('paymentStatus')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
        </div>
        <hr>
        <h4>Description</h4>
        <div class="row row-gap-2">
          <div class="form-group col-md-6">
            <label for="descriptionText">Description <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="descriptionText" formControlName="descriptionText"
                   placeholder="Description" required>
            <div
              *ngIf="createPackageForm.get('descriptionText')?.invalid && createPackageForm.get('descriptionText')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
        </div>
        <hr>
        <h4>Delivery</h4>
        <div class="row row-gap-2">
          <div class="form-group col-md-6">
            <label for="deliveryStatus">Delivery Status <span class="text-danger">*</span></label>
            <select class="form-control" id="deliveryStatus" formControlName="deliveryStatus" required>
              <option value="" disabled selected>Select Delivery Status</option>
              <option value="on delivery">On Delivery</option>
              <option value="delivered">Delivered</option>
              <option value="declined">Declined</option>
            </select>
            <div
              *ngIf="createPackageForm.get('deliveryStatus')?.invalid && createPackageForm.get('deliveryStatus')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="endOfficeId">End Office<span class="text-danger">*</span></label>
            <select class="form-control" id="endOfficeId" formControlName="endOfficeId" required>
              <option value="" disabled selected>Select End Office</option>
              <option *ngFor="let office of officeOptionsForCreate" [value]="office.id">{{ office.officeName }}</option>
            </select>
            <div *ngIf="createPackageForm.get('endOfficeId')?.invalid && createPackageForm.get('endOfficeId')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
        </div>
        <hr>
        <h4>Customer</h4>
        <div class="row row-gap-2">
          <div class="form-group col-md-4">
            <label for="customerName">Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="customerName" formControlName="customerName"
                   placeholder="Name" required>
            <div *ngIf="createPackageForm.get('customerName')?.invalid && createPackageForm.get('customerName')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="customerPhone">Phone <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="customerPhone" formControlName="customerPhone"
                   placeholder="Phone" required>
            <div *ngIf="createPackageForm.get('customerPhone')?.invalid && createPackageForm.get('customerPhone')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="customerEmail">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="customerEmail" formControlName="customerEmail"
                   placeholder="Email" required>
            <div *ngIf="createPackageForm.get('customerEmail')?.invalid && createPackageForm.get('customerEmail')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-primary-admin btn-block" [disabled]="isSubmitting">Create
        </button>
        <button type="button" class="btn btn-secondary-admin text-white" (click)="modal.dismiss()">Cancel</button>
      </div>
    </form>
  </ng-template>

  <!-- Update package modal -->
  <ng-template #updatePackageModal let-modal>
    <div class="modal-header d-flex justify-content-between">
      <h5 class="modal-title text-white">Update</h5>
      <button class="text-white btn bg-transparent border-0" (click)="modal.dismiss()">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </button>
    </div>
    <form [formGroup]="updatePackageForm" (ngSubmit)="onSubmitUpdate()">
      <div class="container has-scroll has-scroll-admin modal-body">
        <!-- Delivery Status -->
        <div class="row row-gap-2">
          <div class="form-group">
            <label for="deliveryStatus">Delivery Status <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="deliveryStatus">
              <option value="" disabled>Select status</option>
              <option value="on delivery">On Delivery</option>
              <option value="delivered">Delivered</option>
              <option value="declined">Declined</option>
            </select>
            <div
              *ngIf="updatePackageForm.get('deliveryStatus')?.invalid && updatePackageForm.get('deliveryStatus')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>

          <!-- Current Location -->
          <div class="form-group">
            <label for="currentLocation">Current Location <span class="text-danger">*</span></label>
            <select class="form-control" id="currentLocation" formControlName="currentLocation" required>
              <option value="" disabled selected>Select Office</option>
              <option *ngFor="let office of officeOptionsForCreate" [value]="office.id">{{ office.officeName }}</option>
            </select>
            <div
              *ngIf="updatePackageForm.get('currentLocation')?.invalid && updatePackageForm.get('currentLocation')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>

          <!-- Weight -->
          <div class="form-group">
            <label for="weightUpdate">Weight (kg) <span class="text-danger">*</span></label>
            <input type="number" min="0" class="form-control" id="weightUpdate" formControlName="weight"
                   placeholder="Weight" required />
            <div *ngIf="updatePackageForm.get('weight')?.invalid && updatePackageForm.get('weight')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>

          <!-- Distance -->
          <div class="form-group">
            <label for="distanceUpdate">Distance (km) <span class="text-danger">*</span></label>
            <input type="number" min="0" class="form-control" id="distanceUpdate" formControlName="distance"
                   placeholder="distance" required />
            <div *ngIf="updatePackageForm.get('distance')?.invalid && updatePackageForm.get('distance')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>

          <!-- Receiver -->
          <div class="form-group">
            <label for="receiver">Receiver Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="receiver" />
            <div *ngIf="updatePackageForm.get('receiver')?.invalid && updatePackageForm.get('receiver')?.touched"
                 class="text-danger small mt-1">
              This is a required field
            </div>
          </div>

          <!-- Payment Status -->
          <div class="form-group">
            <label for="paymentStatus">Payment Status <span class="text-danger">*</span></label>
            <select class="form-control" formControlName="paymentStatus">
              <option value="paid">Paid</option>
              <option value="pending">Pending</option>
              <option value="fail">Fail</option>
            </select>
            <div
              *ngIf="updatePackageForm.get('paymentStatus')?.invalid && updatePackageForm.get('paymentStatus')?.touched"
              class="text-danger small mt-1">
              This is a required field
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-primary-admin btn-block" [disabled]="isSubmitting">Create
        </button>
        <button type="button" class="btn btn-secondary-admin text-white" (click)="modal.dismiss()">Cancel</button>
      </div>
    </form>
  </ng-template>
</div>

<ng-template #packageRows>
  <tr *ngFor="let pkg of packages">
    <td>{{ pkg.id }}</td>
    <td>{{ pkg.paymentCost | currency }}</td>
    <td>{{ pkg.paymentStatus }}</td>
    <td>{{ pkg.deliveryStatus }}</td>
    <td>{{ pkg.officeName }}</td>
    <td>{{ pkg.createdAt | date }}</td>
    <td>
      <div class="d-flex gap-2 flex-wrap justify-content-center">
        <button class="btn btn-sm view-btn d-inline-flex justify-content-center align-items-center"
                (click)="viewPackage(pkg.id, content)">
          <i class="fa-regular fa-eye"></i>
        </button>
        <button class="btn btn-sm update-btn d-inline-flex justify-content-center align-items-center"
                (click)="openUpdatePackageModal(updatePackageModal, pkg)">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
    </td>
  </tr>
</ng-template>
