<div class="container home__container mt-3 mt-md-4 mb-3 mb-md-4">
  <div class="landing-page">
    <!-- Row 1 -->
    <div class="row">
      <div class="col image-col">
        <img src="assets/img/fast-and-reliable.png" alt="Delivery Truck">
      </div>
      <div class="col text-col">
        <h2>Fast and Reliable Delivery</h2>
        <p>Our post office provides the fastest delivery service, ensuring your packages arrive on time, every time. With our extensive network, we cover both local and international destinations.</p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row">
      <div class="col text-col">
        <h2>Track Your Packages</h2>
        <p>Stay informed about the status of your deliveries with our real-time tracking system. Simply enter your tracking number and get updates instantly.</p>
      </div>
      <div class="col image-col">
        <img src="assets/img/delivery-tracking.jpg" alt="Package Tracking">
      </div>
    </div>

    <!-- Row 3 -->
    <div class="row">
      <div class="col image-col">
        <img src="assets/img/international-shipping-service.jpg" alt="International Shipping">
      </div>
      <div class="col text-col">
        <h2>Domestic Shipping</h2>
        <p>We offer seamless international shipping services, allowing you to send packages across the globe with ease. Our services are secure, reliable, and cost-effective.</p>
      </div>
    </div>

    <!-- Row 4 -->
    <div class="row">
      <div class="col text-col">
        <h2>Customer Support</h2>
        <p>Our dedicated customer support team is available 24/7 to assist you with any queries or concerns. Contact us anytime for assistance with your shipments.</p>
      </div>
      <div class="col image-col">
        <img src="assets/img/customer-support.jpg" alt="Customer Support">
      </div>
    </div>
  </div>

</div>
