<form (ngSubmit)="onSubmit()">
  <div class="container has-scroll has-scroll-admin modal-body">
    <div class="row row-gap-2">
      <div class="form-group">
        <label for="name">Name <span class="text-danger">*</span></label>
        <input id="name" [(ngModel)]="employee.name" name="name" #name="ngModel" class="form-control" required>
        <div *ngIf="name.invalid && name.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input id="email" #email="ngModel" [(ngModel)]="employee.email" name="email" type="email" class="form-control"
          required>
        <div *ngIf="email.invalid && email.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone <span class="text-danger">*</span></label>
        <input id="phone" #phone="ngModel" [(ngModel)]="employee.phone" name="phone" class="form-control" required>
        <div *ngIf="phone.invalid && phone.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>

      <div class="form-group">
        <label for="gender">Gender <span class="text-danger">*</span></label>
        <select id="gender" #gender="ngModel" [(ngModel)]="employee.gender" name="gender" class="form-control" required>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <div *ngIf="gender.invalid && gender.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date of Birth <span class="text-danger">*</span></label>
        <input id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" type="date" class="form-control"
          #dob="ngModel" required>
        <div *ngIf="dob.invalid && dob.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>

      <div class="form-group">
        <label for="officeId">Office <span class="text-danger">*</span></label>
        <select id="officeId" #office="ngModel" [(ngModel)]="employee.officeId" name="officeId" class="form-control" required>
          <option *ngFor="let office of offices" [value]="office.id">{{ office.officeName }}</option>
        </select>
        <div *ngIf="office.invalid && office.touched" class="text-danger small mt-1">
          This is a required field
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-primary-admin btn-block">Update Employee</button>
  </div>
</form>

<div *ngIf="errorMessage" class="alert alert-danger mt-3">
  {{ errorMessage }}
</div>