:root {
  --primary-color: #f36e2f;
  --secondary-color: #04295e;
  --primary-button-bg: var(--secondary-color);
  --primary-button-bg-hover: #0B5ED7FF;
  --scroll-bar-bg: #d6d6d6;
  --scroll-bar-thumb-bg: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.global__hover--scale {
  transition: 224ms linear !important;
}

.global__hover--scale:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.global__hover-underline:hover {
  text-decoration: underline !important;
}

img {
  max-width: 100%;
}

label {
  font-weight: 500;
}

p {
  margin-bottom: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: var(--secondary-color) !important;
}

.submit-btn {
  background-color: var(--primary-button-bg) !important;
  border: none !important;
  transition: 224ms ease-in-out !important;
}

.submit-btn:hover {
  background-color: var(--primary-button-bg-hover) !important;
}

.admin-background {
  background-image: url('https://wallpapers.com/images/hd/the-old-willingdon-post-office-h74k1225rjfde3jv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.has-scroll::-webkit-scrollbar {
  width: 8px;
}

.has-scroll::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg);
  border-radius: 4px;
}

.has-scroll::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-bg);
  border-radius: 4px;
}
