:root {
  --primary-color: #f36e2f;
  --secondary-color: #04295e;
  --primary-button-bg: var(--secondary-color);
  --primary-button-bg-hover: #0B5ED7FF;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.global__hover--scale {
  transition: 224ms linear !important;
}

.global__hover--scale:hover {
  transform: scale(1.2);
  transform-origin: center center;
}

.global__hover-underline:hover {
  text-decoration: underline !important;
}

img {
  max-width: 100%;
}
